@media only screen and (min-width: 780px) {
  .main {
    justify-content: space-around;
  }

  .hero {
    width: 100%;
  }

  .hero img {
    height: auto;
  }

  .hero-text {
    bottom: 3rem;
    right: 3rem;
  }

  .weather {
    width: 50%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 5px;
  }

  .events {
    width: 40%;
  }

  #current-weather {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    width: 50%;
  }

  .weatherIcon img {
    width: 80px;
    height: auto;
  }

  .weather-information li {
    font-size: 12px;
    margin: 0;
  }

  #weather-forecast {
    width: 50%;
  }

  #weather-forecast li {
    font-size: 12px;
  }

  #specific-business {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #specific-business section {
    width: 30%;
  }
}
