:root {
  --text: rgb(4, 3, 69);

  --surface: #ecece9;

  --brand: #343a40;

  --accent: #c6cbd0;

  --bg: #011b34;

  --text-font: "Roboto", sans-serif;
}
@media only screen and (min-width: 650px) {
  header,
  main,
  footer {
    max-width: 1000px;
  }

  .hamburger {
    display: none;
  }

  .navigation {
    display: block;
    background-color: var(--surface);
    width: 70%;
  }

  .navigation a {
    border: none;
  }

  .navigation ul {
    flex-direction: row;
    justify-content: end;
  }
  .btn-nav {
    margin-top: 8px;
  }

  /* SECTIONS */

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 1rem 10px;
    text-align: center;
    border-top: 1px solid #e2e2e2;
  }

  /* BTN grid and list */
  .grid-list {
    display: flex;
    justify-content: center;
  }

  /* SECTIONS */
  #sections {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .grid section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
  }

  .grid section img {
    width: 60px;
    height: auto;
    margin-top: 2px;
  }

  .list section {
    height: 40px;
  }
}
