:root {
    --bg: #e9ecef;
    /* background */
    --surface: #ffffff;
    /* tarjetas, header, footer */
    --brand: #0b7cc0;
    /* links, btn, nav */
    --accent: #0db36b;
    /* hover, highlight, completed */
    --ink: #212529;
    /* main text */
}

* {
    font-family: 'Inter', system-ui, Arial, sans-serif;
    box-sizing: border-box;
}

/* HEADER */

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: var(--ink);
}

/* Hamburger */
.hamburger {
    background: none;
    border: none;
    color: var(--ink);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;

}

.hamburger.show::before {
    content: "\00D7";

}

/* Navigation */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    gap: 5px;

}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--brand);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: var(--accent);
}

h1 {
    margin-left: 10px;
}