:root {
  --text: #f8f9fa;

  --surface: rgb(201, 199, 199);

  --brand: #343a40;

  --accent: #6c757d;

  --bg: #011b34;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* HEADER */

header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 5px 0 5px 10px;
  align-items: end;
  border-bottom: solid 1px #ddd;
  column-gap: 8px;
}

header img {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 5px;
}

header span {
  font-size: 1.2rem;
  color: var(--bg);
}

/* Hamburger */
.hamburger {
  background: none;
  border: none;
  color: var(--bg);
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
  content: "\2630";
  font-size: 2rem;
}

.hamburger.show::before {
  content: "\00D7";
}

/* Navigation */
.navigation {
  display: none;
}

.navigation.show {
  display: block;
  color: var(--text);
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  gap: 5px;
}

.navigation a {
  display: block;
  padding: 0.8rem 10px;
  color: var(--brand);
  text-decoration: none;
  border-bottom: solid 1px #ddd;
}

.navigation li.current {
  background-color: var(--brand);
}

.navigation li.current a {
  color: var(--text);
}

.navigation a:hover {
  background-color: var(--accent);
}

h1 {
  margin-left: 10px;
  color: var(--bg);
}

/* SECTIONS */
.sections {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#about {
  background-color: var(--surface);
  border: 1px solid var(--brand);
  border-radius: 5px;
}

#about p {
  padding: 8px;
  font-weight: bolder;
}

#about h2 {
  background-color: var(--bg);
  text-align: center;
  margin: 0;
  color: var(--text);
}

#photo {
  background-color: var(--surface);
  text-align: center;
  border: 1px solid var(--brand);
  border-radius: 5px;
}

#photo h2 {
  background-color: var(--bg);
  text-align: center;
  margin: 0 0 1rem 0;
  color: var(--text);
}

#photo img {
  display: block;
  width: 200px;
  height: auto;
  margin-bottom: 1rem;
}

#certificate {
  background-color: var(--surface);
  border: 1px solid var(--brand);
  border-radius: 5px;
}

#certificate h2 {
  background-color: var(--bg);
  text-align: center;
  margin: 0 0 1rem 0;
  color: var(--text);
}

#certificate ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
  justify-content: center;
}

#certificate ul .completed {
  background-color: rgb(176, 248, 176);
}

#certificate ul li {
  background-color: var(--text);
  border: 1px solid var(--bg);
  border-radius: 5px;
  width: 15rem;
  height: 2rem;
  text-align: center;
  padding: 0.3rem;
}

#certificate p {
  text-align: center;
}

.filters {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.btn {
  margin: 0 1px;
  height: 44px;
  width: 15rem;
}

/* FOOTER */

footer {
  background: var(--surface);
  padding: 1rem 10px;
  text-align: center;
  border-top: 1px solid #e2e2e2;
  margin: 5px 0;
}

footer p,
footer span {
  font-size: 12px;
  font-weight: bold;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: auto;
  border: #ccc solid 1px;
  border-radius: 4px;
}

.social img {
  width: 22px;
  height: 22px;
}

.social a:hover {
  background-color: var(--surface);
}
