:root {
  --text: #f8f9fa;

  --surface: rgb(201, 199, 199);

  --brand: #343a40;

  --accent: #6c757d;

  --bg: #011b34;
}

@media only screen and (min-width: 38rem) {
  header,
  main,
  nav {
    max-width: 900px;
    margin: 0 auto;
  }

  header {
    grid-template-columns: 24px auto;
  }

  .hamburger {
    display: none;
  }

  .navigation {
    display: block;
    background-color: var(--bg);

    border-bottom: solid 1px #eee;
  }

  .navigation a {
    border: none;
    color: var(--text);
  }

  .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  /* SECTIONS */

  .sections {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    gap: 10px;
  }

  #about {
    background-color: var(--surface);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 1px solid var(--brand);
    border-radius: 5px;
  }

  #photo {
    background-color: var(--surface);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
    border: 1px solid var(--brand);
    border-radius: 5px;
  }

  #photo img {
    display: block;
    width: 200px;
    height: auto;
    margin-bottom: 1rem;
    justify-content: center;
  }

  #certificate {
    background-color: var(--surface);
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    border: 1px solid var(--brand);
    border-radius: 5px;
  }

  #certificate ul .completed {
    background-color: rgb(176, 248, 176);
  }

  #certificate ul li {
    background-color: var(--text);
    border: 1px solid var(--bg);
    border-radius: 5px;
    width: 10rem;
    height: 2rem;
    text-align: center;
    padding: 0.3rem;
  }

  footer {
    padding: 10px;
    max-width: 900px;
    margin: 0.5rem auto;
  }
}
